<a href="https://colab.research.google.com/github/trippleooo/Demo-repo/blob/main/Untitled21.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import requests

In [3]:
API_KEY = 'eO8FTihuGox6UhNEwzBjOqNzoXounZbfZqK0ffIr'

In [4]:
# Base URL for APOD API
BASE_URL = 'https://api.nasa.gov/planetary/apod'

# Making the request to the APOD API
response = requests.get(BASE_URL, params={'api_key': API_KEY})

# Checking if the request was successful
if response.status_code == 200:
    apod_data = response.json()  # Parse the JSON response
    print("Title:", apod_data['title'])
    print("Explanation:", apod_data['explanation'])
    print("Image URL:", apod_data['url'])
else:
    print("Error fetching data. Status code:", response.status_code)

from IPython.display import Image, display

# Get the image URL from the response data
image_url = apod_data['url']

# Display the image
display(Image(url=image_url))

Title: Barred Spiral Galaxy NGC 5335
Explanation: This stunning portrait of NGC 5335 was captured by the Hubble Space Telescope.  Some 170,000 light-years across and over 200 million light-years away toward the constellation Virgo, the magnificent spiral galaxy is seen face-on in Hubble's view. Within the galactic disk, loose streamers of star forming regions lie along the galaxy's flocculent spiral arms. But the most striking feature of NGC 5335 is its prominent central bar. Seen in about 30 percent of galaxies, including our Milky Way, bar structures are understood to channel material inward toward the galactic center, fueling star formation. Of course, distant background galaxies are easy to spot, scattered around the sharp Hubble image. Launched in 1990, Hubble is now celebrating its 35th year exploring the cosmos from orbit around planet Earth.
Image URL: https://apod.nasa.gov/apod/image/2504/NGC5335heic2505_1024.jpg

In [7]:
# API_KEY = 'eO8FTihuGox6UhNEwzBjOqNzoXounZbfZqK0ffIr'
# API_KEY = 'eO8FTihuGox6UhNEwzBjOqNzoXounZbfZqK0ffIr'
# BASE_URL = 'https://api.nasa.gov/neo/rest/v1/feed'
# ENDPOINTS = 'start_date=START_DATE&end_date=END_DATE'
# import requests
# response = requests.get(BASE_URL, params={'api_key': API_KEY, 'start_date' : 'START_DATE', 'end_date' : 'END_DATE'})
# data = response.json()
# import pandas as pd

# data_list = []
# df = pd.DataFrame(data_list)
# print(df)

Empty DataFrame
Columns: []
Index: []

In [8]:
import requests
import pandas as pd

# Constants
API_KEY = 'eO8FTihuGox6UhNEwzBjOqNzoXounZbfZqK0ffIr'
BASE_URL = 'https://api.nasa.gov/neo/rest/v1/feed'

# Sending API request
response = requests.get(BASE_URL, params={
    'api_key': API_KEY,
    'start_date': '2023-01-01',
    'end_date': '2023-01-07'
})

# Checking if the request was successful
if response.status_code == 200:
    data = response.json()
else:
    print(f"Error: {response.status_code}")
    data = None

In [9]:
if data:
    # Extracting the 'near_earth_objects' data
    near_earth_objects = data['near_earth_objects']

    # List to store cleaned data
    data_list = []

    # Loop through each date and its associated asteroids
    for date, asteroids in near_earth_objects.items():
        for asteroid in asteroids:
            # Extracting required fields
            asteroid_id = asteroid['id']
            asteroid_name = asteroid['name']
            min_diameter_km = asteroid['estimated_diameter']['kilometers']['estimated_diameter_min']
            abs_magnitude = asteroid['absolute_magnitude_h']
            rel_velocity = asteroid['close_approach_data'][0]['relative_velocity']['kilometers_per_second']

            # Appending to the list
            data_list.append({
                'Asteroid ID': asteroid_id,
                'Asteroid Name': asteroid_name,
                'Minimal Diameter (km)': min_diameter_km,
                'Absolute Magnitude': abs_magnitude,
                'Relative Velocity (km/s)': rel_velocity
            })

    # Creating DataFrame
    df = pd.DataFrame(data_list)
    print(df)
else:
    print("No data retrieved from the API.")

    Asteroid ID      Asteroid Name  Minimal Diameter (km)  Absolute Magnitude  \
0       2453309  453309 (2008 VQ4)               0.333085               19.51
1       3683468       (2014 QR295)               0.557898               18.39
2       3703782        (2015 AE45)               0.023150               25.30
3       3720918          (2015 LJ)               0.030518               24.70
4       3767936        (2017 BQ93)               0.201630               20.60
..          ...                ...                    ...                 ...
106    54240297         (2022 BB3)               0.068953               22.93
107    54290521          (2022 OF)               0.014540               26.31
108    54336963         (2022 YD6)               0.038775               24.18
109    54338283          (2023 AF)               0.196135               20.66
110    54338830         (2023 AG1)               0.078083               22.66

    Relative Velocity (km/s)
0                5.822172435
1              16.1804693508
2               6.8621510862
3               7.1892215518
4              24.1632169643
..                       ...
106            10.0943824875
107            13.7642995208
108             9.5626087119
109            18.9482049659
110            12.9313991703

[111 rows x 5 columns]

In [10]:
# Saving the DataFrame to a CSV file
df.to_csv("asteroids_data.csv", index=False)

print("DataFrame has been successfully exported to 'asteroids_data.csv'.")

DataFrame has been successfully exported to 'asteroids_data.csv'.